<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../html/js/getAllruns.js"></script>
  <title>Document</title>
</head>

<body>
  <div ng-app="runnerz" ng-controller="getAllruns">
    <p>AngularJS examples of data representation in tables:</p>
    <p>OrderBy:
      <select ng-model="order" ng-options="header for header in headersOrderBy">
      </select>
    </p>
    <table>
      <tr>
        <th ng-repeat="header in headers">
          {{header}}
        </th>
      </tr>
      <tr ng-repeat="run in runs | orderBy : order" ng-click="goToDetail(run)" class="getTableLine">
        <td ng-repeat="data in run">
          {{data}}
        </td>
      </tr>
    </table>
  </div>
</body>

</html>