<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="../html/js/RunController.js"></script>
  <title>Runnerz</title>
</head>

<body>
  <div ng-app="runnerz" ng-controller="runsController">
    <p>AngularJS examples of data representation in tables:</p>
    <div>
      <table>
        <tr>
          <th ng-repeat="header in headers">
            {{header}}
          </th>
        </tr>
        <tr ng-repeat="run in runs" class="getTableLine">
          <td ng-repeat="data in run">
            <p class="pTable" ng-if="data != 'edit' && data != 'delete'" ng-click="goToDetail(run)">{{data}}</p>
            <p class="pTable" ng-if="data == 'edit'"><input type="button" name="{{data}}" ng-click="goToEdit(run)"
                value="{{data}}"></p>
          </td>
        </tr>
      </table>
      <div ng-if="detailRun == true">
        <h2>Run detail</h2>
        <table>
          <tr ng-repeat="header in runHeaders">
            <th>
              {{header}}
            </th>
            <td>{{run[header]}}</td>
          </tr>
        </table>
      </div>
      <div ng-if="editRun == true">
        <h2>Run Edit</h2>
        <table>
          <form id="editRunForm" action ="./">
            <tr ng-repeat="header in runHeaders">
              <th>
                {{header}}
              </th>
              <td>
                <input type="number" value = "{{run[header]}}" disabled ng-if = "header == 'id'" name ="{{header}}">
                <input ng-if="header != 'startedOn' && header != 'completedOn' && header != 'id' && header != 'location'" type="text" name="{{header}}"
                  placeholder="{{run[header]}}" value="{{run[header]}}">
                <select name = "{{header}}" ng-if ="header == 'location'">
                  <option value ="{{run[header]}}" selected>{{run[header]}}</option>
                  <option ng-if="run[header] != 'INNER'"value ="INNER">INNER</option>
                  <option ng-if="run[header] != 'OUTSIDE'"value ="OUTSIDE">OUTSIDE</option>
                </select>
                <input ng-if="header == 'startedOn' || header == 'completedOn'" type="datetime-local" name = "{{header}}"value="{{run[header]}}">
                <select name = "{{header}}" ng-if ="header == 'runner'">
                  <span ng-repeat = "user in users">
                  <option ng-if ="user.name == run[header]" value ="user.id" selected>{{user.name}}</option>
                  <option value ="user.id">{{user.username}}</option>
                </span>
                </select>
                
              </td>
            </tr>
            <tr>
              <td><input type="submit" name="edit" value = "Edit" ng-click="getRunEdit()"></td>
            </tr>
          </form>
        </table>
      </div>
    </div>
  </div>
</body>

</html>